.mat-mdc-form-field.example-full-width.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-form-field-hide-placeholder.mat-primary.ng-tns-c508571215-0 > .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
  background-color: #273142;
  color: white;
}
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
  background-color: #273142;
  color: white;
}
.mat-mdc-form-field-infix{
  background-color: #273142;
}
